.delivery {
    background-color: $hero-color;

    &__row {
        padding-top: 125px;
        padding-bottom: 125px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        @media (max-width:991px) {
            flex-direction: column;
        }
    }

    .custom-ul {
        max-width: 460px;
        width: 100%;
        margin-bottom: 40px;
        gap: 20px;
        @media (max-width:991px) {
            max-width: 100%;
        }
        li::before {
            display: none;
            @media (max-width:991px) {
                display: flex;
            }
        }
    }

    .presence__advantages-custom-li {
        border-bottom: 1px solid #903A3E;
        padding-bottom: 20px;
    }

    &__title {
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    &__grey-text {
        max-width: 210px;
        font-size: 16px;
        margin-bottom: 30px;

        span {
            color: #606060;
        }
    }

    &__button {
        width: 100%;
        height: 53px;
        background-color: #903A3E;
        color: #FFFFFF;
        font-family: "MontserratBold", sans-serif;
    }

    &__col {
        max-width: 460px;

        @media (max-width:991px) {
            max-width: 100%;
            width: 100%;
        }
    }

    &__swiper {
        position: relative;
        overflow: hidden;
        max-width: 660px;

        @media (max-width:1300px) {
            max-width: 500px;
        }

        @media (max-width:991px) {
            max-width: 100%;
        }
    }
}

.swiper-wrapper__delivery {
    max-width: 650px;
    border-radius: 30px;
    @media (max-width:991px) {
        max-width: 98%;
    }
    .swiper-slide {
        max-width: 650px;
        margin-right: 10px;
        @media (max-width:991px) {
            max-width: 100%;
        }
        img {
            width: 100%;
            border-radius: 30px;
        }
    }
}

.swiper-button-next-delivery,
.swiper-button-prev-delivery {
    background-color: $white;
}

div.swiper-button-next-delivery::after,
div.swiper-button-prev-delivery::after {
    color: $black;
}